*{
    box-sizing: border-box;
}

.sit, .FAQ, .Jenny, footer{
    background-color: rgb(250, 233, 221);
}

.approach, .practice{
    background-color: #e4ed54;
}

.btn-1{
    background-color: white;
    width: 75%;
    border: 1px solid lightgray;
}

.hands{
    background-color: goldenrod;
}

.girls{
    margin: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fill{
    padding-left: 23%;
    height: 570%;
}